#start-menu {
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: center;
  
    header {
      font-size: 4em;
      padding: 32px;
    }

    button {
      font-size: 2em;
    }

    .controls {
      display: flex;
      flex-direction: column;
      gap: .5em;
    }

    .key {
      border-radius: 0.5em;
      display: inline-block;
      padding: 0.5em;
      margin-right: 0.5em;
      background-color: rgba(255, 255, 255, .1);
      box-shadow: #fff .25em .25em 0 0;
    }
}
